---
import { tw } from "../../utils/tw";
import WaveButtonLiveProduction from "./WaveButtonLiveProduction.astro";

export type Props = {
  name: string;
  link: string;
};

const { link, name } = Astro.props;
const id = `btn-live-in-production-${name.replace(/\./g, "-").toLowerCase()}`;
---

<a
  id={id}
  href={link}
  target="_blank"
  class={tw(
    "button-live-production relative inline-flex w-full items-start justify-between rounded-2xl px-5 py-5 pb-8",
    "sm:px-8 sm:py-6 sm:w-[495px]"
  )}
  style="background: radial-gradient(94.57% 1117.67% at 2.02% 94.57%, rgba(34, 211, 238, 0.2) 0%, rgba(0, 0, 0, 0) 100%), #123E4F;"
>
  <div>
    <div class="inline-flex items-center space-x-2 sm:space-x-3">
      <div class="relative">
        <div class="absolute h-[8px] w-[8px] animate-ping rounded-full bg-green-light sm:h-[10px] sm:w-[10px]"></div>
        <div class="h-[8px] w-[8px] rounded-full bg-green-light sm:h-[10px] sm:w-[10px]"></div>
      </div>
      <span class="text-base font-semibold leading-100 tracking-tight text-green-light sm:text-2xl"
        >Live in production</span
      >
    </div>

    <span class="relative block text-[32px] font-semibold leading-100 tracking-tight text-sky-50 sm:text-[3.5rem]"
      >{name}
      <div class="absolute -bottom-3">
        <WaveButtonLiveProduction />
      </div>
    </span>
  </div>

  <div
    id={`${id}-arrow-wrapper`}
    class="rounded-lg bg-cyan-900 p-3"
    style={{
      opacity: 0,
    }}
  >
    <svg
      style={{ opacity: 0, transform: "translate(-150%, 150%)" }}
      id={`${id}-arrow`}
      width="17"
      height="18"
      viewBox="0 0 17 18"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M1 16.5L16 1.5M16 1.5H4.75M16 1.5V12.75"
        stroke="#ECFEFF"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"></path>
    </svg>
  </div>
</a>

<style>
  .button-live-production {
    box-shadow: 22px 17px 11px rgba(0, 0, 0, 0.01), 13px 10px 9px rgba(0, 0, 0, 0.05), 6px 4px 7px rgba(0, 0, 0, 0.09),
      1px 1px 4px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border: 1.5px solid transparent;
  }
</style>
