---
import { tw } from "../../utils/tw";

export type Props = {
  title: string;
  slug?: string;
  tags?: string[];
};

const url = Astro.url;
const { title, slug, tags } = Astro.props;
const linkUrl = `${url}blog/${slug}`;
const tag = tags?.[0] ?? "";
---

<li
  style={{ opacity: 0 }}
  class={tw(
    "writing-list-item",
    "relative h-[150px] overflow-hidden rounded-2xl border border-cyan-600 border-opacity-10 sm:h-[230px] lg:h-[230px]",
    "hover:shadow-xl"
  )}
>
  <article class="h-full">
    <a href={linkUrl} target="_blank" class="relative block h-full px-6 py-5 shadow-md sm:py-6 md:p-9">
      <p class="mb-2 capitalize text-cyan-600">{tag}</p>
      <h3
        class="max-w-[250px] text-xl font-medium leading-7 text-cyan-50 sm:max-w-[424px] sm:text-xl sm:leading-[120%] md:max-w-[300px] md:leading-8 lg:max-w-[350px] lg:text-2xl"
      >
        {title}
      </h3>
    </a>
  </article>
</li>

<style>
  li {
    background: radial-gradient(83.58% 466.3% at 88.14% 12.93%, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
      #0f1f29;
  }

  li:hover {
    background: radial-gradient(83.58% 466.3% at 88.14% 12.93%, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
      #0d202c;
  }

  li::before {
    content: "";
    pointer-events: none;
    user-select: none;
    position: absolute;
    inset: 0px;
    border-radius: inherit;
    padding: 2px;
    background: linear-gradient(
      135deg,
      #173c4eb7 5%,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent
    );
    content: "";
    pointer-events: none;
    user-select: none;
    position: absolute;
    border-radius: inherit;
    -webkit-mask: linear-gradient(black, black) content-box content-box, linear-gradient(black, black);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  li:hover::before {
    background: linear-gradient(
      135deg,
      #173c4eb7 25%,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent,
      transparent
    );
  }
</style>
