---
import dayjs from "dayjs";
import BlogSideNavigation from "../components/Blog/BlogSideNavigation.astro";
import BlogSidebar from "../components/Blog/BlogSidebar.astro";
import BlogTitleOurnament from "../components/Blog/BlogTitleOurnament.astro";
import Layout from "../layouts/Layout.astro";

type Props = {
  frontmatter: {
    title: string;
    author: string;
    description: string;
    tags: string[];
    published: boolean;
    publishDate: string;
  };
};

const { frontmatter } = Astro.props;

const articlePublishedDate = dayjs(frontmatter.publishDate).format("YYYY-MM-DD");
---

<Layout
  title={frontmatter.title}
  seoTitle={frontmatter.title}
  description={frontmatter.description}
  publishedDate={articlePublishedDate}
>
  <div class="flex min-h-screen flex-col-reverse bg-white lg:flex-row">
    <header class="z-30 lg:fixed lg:flex lg:min-h-screen lg:w-[360px] xl:w-[420px]">
      <BlogSideNavigation />
      <BlogSidebar sidebarOnDetail />
    </header>

    <main class="relative flex-1 pb-20 lg:ml-[420px] xl:ml-[420px] 2xl:ml-[480px]">
      <div class="sticky top-0 z-20 overflow-y-clip bg-gradient-to-b from-white to-transparent">
        <div class="absolute top-0 min-h-full w-full overflow-x-hidden">
          <BlogTitleOurnament />
        </div>
        <div class="relative z-10 w-full border-slate-200 py-10">
          <div class="mx-auto max-w-2xl px-6 lg:mx-0 xl:mx-0 xl:max-w-4xl">
            <div class="mx-auto flex max-w-2xl flex-col px-0 lg:px-8 xl:mx-0 xl:px-32">
              <a href="/blog" class="text-xl font-semibold text-slate-900 hover:underline">Blog</a>
              <span class="inline-block max-w-[320px] text-sm text-slate-600 lg:max-w-none">{frontmatter.title}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="relative z-10 bg-white pb-20">
        <div class="relative mx-auto mt-11 max-w-2xl px-6 lg:mx-0 xl:mx-0 xl:max-w-4xl 2xl:max-w-5xl">
          <div class="mx-auto space-y-10 lg:space-y-14 lg:px-10 xl:mx-0 xl:px-32">
            <article class="blog-detail">
              <slot />
            </article>
          </div>
        </div>
      </div>
    </main>
  </div>

  <script>
    const copyIcon = `<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 256 256"><path d="M216,32H88a8,8,0,0,0-8,8V80H40a8,8,0,0,0-8,8V216a8,8,0,0,0,8,8H168a8,8,0,0,0,8-8V176h40a8,8,0,0,0,8-8V40A8,8,0,0,0,216,32ZM160,208H48V96H160Zm48-48H176V88a8,8,0,0,0-8-8H96V48H208Z"></path></svg>`;

    // use a class selector if available
    let blocks = document.querySelectorAll("pre");

    blocks.forEach((block) => {
      // only add button if browser supports Clipboard API
      if (navigator.clipboard) {
        let button = document.createElement("button");

        button.innerHTML = copyIcon;
        block.appendChild(button);

        button.addEventListener("click", async () => {
          button.innerText = "Copied!";
          setTimeout(() => {
            button.innerHTML = copyIcon;
          }, 1000);

          await copyCode(block);
        });
      }
    });

    async function copyCode(block) {
      let code = block.querySelector("code");
      let text = code.innerText;

      await navigator.clipboard.writeText(text);
    }
  </script>
</Layout>

<style lang="scss" is:global>
  .gist {
    font-size: 13px;
    line-height: 18px;
    width: 100%;
  }

  @media (max-width: 768px) {
    .gist {
      width: 100%;
    }
  }

  .gist pre {
    font-family: Menlo, Monaco, "Bitstream Vera Sans Mono", "Courier New", monospace !important;
  }

  .gist-meta {
    font-family: Arial, sans-serif;
    font-size: 13px !important;
  }

  .gist-meta a {
    color: #3b5998 !important;
    font-weight: bold;
    text-decoration: none;
  }

  .gist-meta a:hover {
    text-decoration: underline;
  }

  .gist-data {
    max-height: 600px;
  }

  code:not(pre code) {
    @apply rounded-sm bg-neutral-100 p-1 text-sm;
  }

  .astro-code {
    padding: 1rem;
    @apply relative rounded-md text-sm shadow-md;
    margin-bottom: 2rem;

    code {
      text-wrap: wrap;
      overflow-wrap: break-word;
      word-wrap: break-word;
    }

    button {
      @apply absolute top-2 right-2 p-1;
      color: #fafafa;
    }

    button:hover {
      @apply absolute top-2 right-2;
      color: #fafafac7;
    }
  }

  code {
    // @apply inline-block rounded-md bg-gray-100 text-sm tracking-tighter text-gray-800;
    // padding: 0.2rem 0.4rem;
  }

  @media (max-width: 768px) {
    .gist-data {
      max-height: 300px;
    }
  }

  /* Blog styling */
  .blog-detail {
    a {
      color: #3b5998;
      text-decoration: none;
      font-weight: 600;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: #1a1a1a;
        text-decoration: underline;
      }
    }

    h1 {
      font-size: 1.5rem;
      font-weight: bold;
      max-width: 580px;
      line-height: 130%;
      margin-bottom: 40px;
      @apply 2xl:text-3xl;
    }

    h2 {
      font-size: 1.25rem;
      font-weight: 600;
      max-width: 480px;
      line-height: 130%;
      margin-bottom: 20px;
      padding-top: 32px;
      @apply 2xl:text-2xl;
    }

    p,
    ul,
    li,
    ol {
      font-size: 1rem;
      line-height: 150%;
      margin-bottom: 1rem;
      @apply break-words text-slate-800;
      max-width: 620px;
      line-height: 180%;
      @apply 2xl:max-w-4xl 2xl:text-lg 2xl:leading-8;
    }

    li > ol {
      margin-top: 0.5rem;
    }

    ul {
      list-style: disc;
      padding-left: 1.5rem;
    }

    ol {
      list-style: decimal;
      padding-left: 1.5rem;
    }

    li {
      margin-bottom: 0.2rem;
    }
  }
</style>
